.App {
  text-align: center;

}
.main{
  border-radius: 2rem;
  border: #282c34;
}

form{
  display: flex;
  flex-direction: column;
  max-width: 20rem;
  margin: 5rem auto;
  border: #282c34;
}
.form_con{
  
  border-radius: 1rem;
  margin-left: 30rem;
  margin-right: 30rem;
  margin-top: 5rem;
  border: 1px solid;
  box-shadow:5px 10px #282c3442;
}
.logout_page{
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
  max-width: max-content;
  margin-left: 44%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
